@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: ailerons;
  src: url(../public/fonts/Ailerons.woff);
}

@font-face {
  font-family: anurati;
  src: url(../public/fonts/Anurati.woff);
}

@font-face {
  font-family: blanka;
  src: url(../public/fonts/Blanka.woff);
}

@font-face {
  font-family: elianto;
  src: url(../public/fonts/Elianto.woff);
}
